body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email],
input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=radio] {
    width: 5%;
    padding: 15px;
    margin: 10px 0 20px 0;
    display: inline-block;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

label {
    padding: 5px;
    margin-left: 235px;

}

.col-50 {
    float: left;
    width: 50%;
    height: 900px;
}


/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    width: 350px;
}

/* Add padding to container elements */
.container {
    margin-top: 5em;
    padding: 16px;
}

#tamanhopagina{
    height: 600px;
}

.excluir {
  background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.mpedidos {
  background-color:darkgray;
    color: white;
}

.alterar {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.alterar, .excluir {
  float: left;
  width: 50%;
    
    
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 5% auto 5% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #f1f1f1;
    width: 100%;
    /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}
