#section1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

#titulo{
  margin-top: 2em;
  width: 100%;
  height: 40%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

#corpo{
  display: grid;
  width: 100%;
  height: 60%;
  grid-gap: 3em;
  grid-template-areas: 'imagem detalhes';
}

#imagem{
  grid-area: imagem;
  height: 100%;
}

#imagem img{
  width: auto;
  height: 70%;
  margin: 1em 0 2em 5em;
}

#detalhes{
  grid-area: detalhes;
}

#info{
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 150px;
}

#info label{
  margin-top: 20px;
}

#info form{
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#info form input[type='number']{
  border-radius: 5px;
  border: solid 2px #666;
}

#info form input[type='submit']{
  margin-top: 10px;
  padding: 10px;
  background-color: #3E4;
}

#info form input[type='submit']:hover{
  background-color: #1F2;
}

.indisponivel{
  margin: auto;
  width: 70%;
  position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.indisponivel:after{
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 28px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -100px;
	margin-bottom: -28px;
}

.rodape{
  position: absolute;
  bottom: 0;
}
